.taskApp{
          display: flex;
          flex-direction: column;
          gap: 40px;
          padding: 10%;
          min-height: 100vh;
          width: min(900px, 100vw);
          position: relative;
          margin: 0 auto;
}

.taskApp > *{
          /* From https://css.glass */
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
          padding: 0 10px;
          border-radius: 18px;
          animation: fadeIn 1s ease;
}

.todoContainer,
.doneContainer{
          padding: 10px;
}

@keyframes fadeIn {
          0%{
                    opacity: 0;
          }
          100%{
                    opacity: 1;
          }
}
